@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rubik+Doodle+Shadow&display=swap');

body{
  background: url(../img/image.png) no-repeat center center fixed;
  background-size: cover;
    margin: 0;
    padding: 0;
    
  }
  .head{
    border: 2px ;
    border-radius: 20px;
    margin:  auto;
    width: 300px;
    height: 100px;
    flex-shrink: 0;
    background-color: #36E2A4;
  }
.head h1{
  color: #000;
text-align: center;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding: 30px;
}

.home{
  position: absolute;
margin-left: 10px;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
#welcomeMessage{
  font-size: 27px;
  font-weight: bold;
  position:absolute;
  top: -3px;
  right: 15px;
  cursor: pointer;
padding: 20px;
padding-right: 20px;

}

.fa-user-alt{
font-size: 20px;
position: absolute;
top: 28px;
right: 88px;
cursor: pointer;
padding: 20px;

}
.user{
  cursor: pointer;
}
.line{
  width: 70%; 
  height: 0px; 
  left: 100px; 
  position: relative; 
  margin-top: 50px;
  border: 3px black solid ;
}
.rectangle{
  width: 180px; 
  height: 65px; 
  background: #36E2A4; 
  border-radius: 20px;
  margin:60px;
  display: flex;             
  justify-content: center;   
  align-items: center;
  text-align: center; 
  color: black; 
  font-size: 30px; 
  font-family: Inter; 
  font-weight: 800;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.container { 
  width: 500px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.circle {
  width: 47px; 
  height: 47px; 
  background: #4ADA59; 
  border-radius: 50%;
}

.sportclub {
  position: absolute;
  color: black; 
  font-size: 30px; 
  font-family: Inter; 
  font-weight: 800; 
  margin-top: 0.4rem;
  margin-left: 4rem;
}

.small_desc {
  text-align: center; 
  color: black; 
  font-size: 24px; 
  font-family: Inter; 
  font-weight: 500; 
  word-wrap: break-word;
}

.long_desc {
  color: black; 
  font-size: 20px; 
  font-family: Inter; 
  font-weight: 400; 
  word-wrap: break-word;
}

.button_join {
  height: 65px;  
  background: #36E2A4; 
  border-radius: 20px; 
  text-align: center; 
  color: black;
  font-size: 32px; 
  font-family: Inter; 
  font-weight: 600; 
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent element */
}

.button_join:hover {
  background-color: #00f677;
  font-size: 2.2rem;
}
/* From Uiverse.io by mi-series */ 
.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #40B3A2;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.btn:hover {
  opacity: .95;
}

.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

.info{
  position: absolute;
  right: 100px;
  padding: 20px;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}
@media screen and (max-width: 900px) {
  .head{
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
    border: 2px ;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    flex-shrink: 0;
    background-color: #36E2A4;
  }
.head h1{
  color: #000;
text-align: center;
font-family: Inter;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 1px;
}

.home{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 10px;
}   

.line{
  display: none;
}
.rectangle{
  width: 180px; 
  height: 65px; 
  background: #36E2A4; 
  border-radius: 20px;
  margin:60px;
  display: flex;             
  justify-content: center;   
  align-items: center;
  text-align: center; 
  color: black; 
  font-size: 30px; 
  font-family: Inter; 
  font-weight: 800;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 30px;
}
.container{
  width: 300px;
}
}