@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rubik+Doodle+Shadow&display=swap');

body{
  background: url(../img/image.png) no-repeat center center fixed;
  background-size: cover;
    margin: 0;
    padding: 0;
    
  }
  .head{
    border: 2px ;
    border-radius: 20px;
    margin:  auto;
    width: 300px;
    height: 100px;
    flex-shrink: 0;
    background-color: #36E2A4;
  }
.head h1{
  color: #000;
text-align: center;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding: 30px;
}
.user{
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
  cursor: pointer;
  margin-right: 30px;
}
.home{
  position: absolute;

  cursor: pointer;
}
.button-out{
  background-color: #e23636;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 360;
  line-height: normal;
  position: absolute;
  top: 60px;
  right: 0;
  margin-right: 60px;
}
.button-out:hover{
  background-color: #ff0000;
}
.line{
  width: 70%; 
  height: 0px; 
  left: 100px; 
  position: relative; 
  margin-top: 50px;
  border: 3px black solid ;
}
.rectangle{
  width: 180px; 
  height: 65px; 
  background: #36E2A4; 
  border-radius: 20px;
  margin:60px;
  display: flex;             
  justify-content: center;   
  align-items: center;
  text-align: center; 
  color: black; 
  font-size: 30px; 
  font-family: Inter; 
  font-weight: 800;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.container { 
  width: 500px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.circle {
  width: 47px; 
  height: 47px; 
  background: #4ADA59; 
  border-radius: 50%;
}

.sportclub {
  position: absolute;
  color: black; 
  font-size: 30px; 
  font-family: Inter; 
  font-weight: 800; 
  margin-top: 0.4rem;
  margin-left: 4rem;
}

.small_desc {
  text-align: center; 
  color: black; 
  font-size: 24px; 
  font-family: Inter; 
  font-weight: 500; 
  word-wrap: break-word;
}

.long_desc {
  color: black; 
  font-size: 20px; 
  font-family: Inter; 
  font-weight: 400; 
  word-wrap: break-word;
}

.button_join {
  height: 65px;  
  background: #36E2A4; 
  border-radius: 20px; 
  text-align: center; 
  color: black;
  font-size: 32px; 
  font-family: Inter; 
  font-weight: 600; 
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button_join:hover {
  background-color: #00f677;
  font-size: 2.2rem;
}

@media screen and (max-width: 900px) {
  .head{
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
    border: 2px ;
    border-radius: 20px;
    width: 100px;
    height: 50px;
    flex-shrink: 0;
    background-color: #36E2A4;
  }
.head h1{
  color: #000;
text-align: center;
font-family: Inter;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 1px;
}
.user{
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 10px;
}
.home{
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 10px;
}   
.button-out{
  background-color: #e23636;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  font-family: Inter;
  font-size: 10px;
  width: 110px;
  font-style: normal;
  font-weight: 360;
  line-height: normal;
  position: absolute;
  top: 30px;
  right: 0;
  margin-right: 10px;
}
.button-out:hover{
  background-color: #ff0000;
}
.line{
  display: none;
}
.rectangle{
  width: 180px; 
  height: 65px; 
  background: #36E2A4; 
  border-radius: 20px;
  margin:60px;
  display: flex;             
  justify-content: center;   
  align-items: center;
  text-align: center; 
  color: black; 
  font-size: 30px; 
  font-family: Inter; 
  font-weight: 800;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 30px;
}
.container{
  width: 300px;
}
}