/* Custom Dashboard CSS */

body {
    background: url(../img/blue.jpg) no-repeat center center fixed;
    
  }

h1 {
    font-size: 2.5rem;
    color: #343a40;
}

h2 {
    font-size: 1.75rem;
    color: #495057;
    margin-bottom: 20px;
}

table {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.list-group-item {
    background-color: #ffffff;
    border-color: #dee2e6;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #212529;
}

a:hover {
    text-decoration: none;
}

input.form-control {
    border-radius: 5px;
    padding: 0.75rem;
}

.fw-bold{
    color: #dee2e6;
}
